.details h2{
    font-size: 20px;
    color: white;
}
.detail-box h2{
    color: white;
}
.detail-box h4{
    font-size: 20px;
    color: white;
}
.detail-box p{
    font-size: 15px;
    color: white;
}