.navbar{
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgb(3, 3, 3);
}

.navbar h1{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}
.navbar li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
}
.cartWidget img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    background-color: black;
}
.cartWidget p{
    margin: 0 5px;
    color: white;
    display: flex;
    justify-content: center;
}